.footer {
  width: 100%;
  /* width: 1024px; */
  padding-left: 115px;
  padding-right: 115px;
  margin: 30px;
  font-size: 20px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: #111;
  cursor: pointer;
}

.fText {
  padding: 10px;
  /* margin-left: 50  0px ; */
}