.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #021e6b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer>input {
  width: 700px;
  height: 35px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.mailInputContainer>button {
  background-color: #b2c4d6;
  color: black;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 120px;
  height: 35px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}